body.darkmode-3eb4-450a-8499-7f77cf2f62aa {
  background-color: #252525  !important;
  filter: invert(88%) !important;
}

body.darkmode-3eb4-450a-8499-7f77cf2f62aa canvas,
body.darkmode-3eb4-450a-8499-7f77cf2f62aa iframe,
body.darkmode-3eb4-450a-8499-7f77cf2f62aa img,
body.darkmode-3eb4-450a-8499-7f77cf2f62aa video {
  filter: invert() !important;
}
