* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  color: #AAA;
}

p {
  padding: 1em;
}
a {
  color: #AAA;
}


div.card {
  border: 0.2em solid #AAA;
  border-radius: 0.2em;
  padding: 1em;
  text-align: center;
  width: 16em;
  font-weight: bold;
  text-transform: uppercase;
}
div.card p {
  text-align: center;
  text-transform: none;
}
div.card.disabled {
  display: none;
}
div.card h1 {
  font-size: 1.2em;
  white-space: nowrap;
  padding-bottom: 0.6em;
}
div.card ul {
  list-style: none;
}
div.card li {
  padding: 2em 0;
  font-size: 1em;
  display: inline-table;
  white-space: nowrap;
  width: 6em;
  height: 4em;
  border: 0.2em solid #AAA;
}
div.card li.selected {
  background-color: #555;
}
div.card:not(.disabled) li:hover {
  color: white;
  border-color: white;
  background-color: #999;
}
